@import "sass/screen.css";

/* moved css to screen.scss */

.existing-session {
    text-align: center;
    font-weight: 700;
    background: papayawhip;
    color: cornflowerblue;
    padding: 15px;
}

.existing-session.hide {
    display: none;
}

.active a,
.disabled a {
    pointer-events: none;
}

.disabled a {
    background: grey;
    color: black;
}