<section class="screen" id="faq">
  <h2>Help &amp; Definitions</h2>
  <dl>
    <dt id='faq-over-21'>Why do I have to be over 21?</dt>
    <dd>The program requires that an adult sign the application, and here, an adult is over 21.</dd>

    <dt id='faq-student'>Who counts as a student?</dt>
    <dd>A student is anyone who is enrolled in a public or private school at the high school level or below, even if they're over 18.</dd>

    <dt id='faq-household'>What’s a <em>household</em>? Whom do I include?</dt>
    <dd>A household is anyone who lives with you, and shares income and expenses. They don’t have to be related to you or each other, and they also don't have to have an income of their own. Don't include anyone who lives with you if they do <span class='bold'>not</span> contribute money to the household, or if the household's income doesn't support them.</dd>

    <dt id='faq-ssn'>Do I have to have a Social Security Number (SSN)?</dt>
    <dd>You don't have to have a Social Security Number to qualify for free and reduced price lunch. United States citizenship or immigration status is not a condition of eligibility for free and reduced price benefits.</dd>

    <dt id='faq-head-start'>What is Head Start?</dt>
    <dd>Head Start is a federal- or state-funded pre-kindergarten program. To qualify, the state-funded program must have eligibility criteria that is identical or more stringent than the federal Head Start program.</dd>

    <dt id='faq-foster-child'>How do I know if my child is a foster child?</dt>
    <dd>A foster child is defined as a child who is formally placed in your home by a court, or a State child welfare agency.</dd>

    <dt id='faq-migrant'>How do I know if my child is a migrant?</dt>
    <dd>A child is a migrant if they’ve been identified as a migrant by the State or local Migrant Education Program coordinator, the local educational liaison, or another individual identified by the Food and Nutrition Service (FNS).</dd>

    <dt id='faq-homeless'>How do I know if my child qualifies as homeless?</dt>
    <dd>A child is homeless if they’ve been identified by the Local Education Agency (LEA) homeless liaison, or by an official of a homeless shelter, as lacking a fixed, regular, and adequate nighttime residence.</dd>

    <dt id='faq-runaway'>How do I know if my child qualifies as a runaway?</dt>
    <dd>A child is identified as a runaway under the Runaway and Homeless Youth Act, by the local educational liaison, or another person in accordance with guidance issued by FNS.</dd>

    <dt id='faq-snap'>How do I know if I’m enrolled in SNAP?</dt>
    <dd>SNAP is the Supplemental Nutrition Assistance Program, formerly known as food stamps. If you're enrolled in SNAP, you'll have a plastic EBT card (it looks like a debit card) and a 10- or 13-digit case number.</dd>

    <dt id='faq-tanf'>How do I know if I'm enrolled in TANF?</dt>
    <dd>TANF is the Temporary Assistance for Needy Families program. If you're enrolled in TANF, you're receiving a cash benefit. You also have a case number that's 10 or 13 digits long.</dd>

    <dt id='faq-fdpir'>How do I know if I’m enrolled in FDPIR?</dt>
    <dd>FDPIR is the Food Distribution Program on Indian Reservations. If you're enrolled in FDPIR, you have a case number and an EBT card.</dd>

    <dt id='faq-case-number'>Where do I find my case number for SNAP, TANF, or FDPIR?</dt>
    <dd>This might depend on what state you're in. Your case number is <b>not</b> the number on your EBT card, but it should be listed on other benefits paperwork. If it's not there, you'll need to call your case worker.</dd>

    <dt id='faq-income'>What counts as income?</dt>
    <dd>All kinds of things count as income. Both children and adults can earn income.<br>

      <span class='bold'>Child Income</span><br>
      <p>Child income is paid directly to the child, and includes:</p>
      <ul>
        <li class='styled-list'>Salary or wages from a job</li>
        <li class='styled-list'>Social Security benefits due to blindness or disability</li>
        <li class='styled-list'>Social Security wages from a parent who is disabled, retired, or deceased, which the child receives</li>
        <li class='styled-list'>Regular spending money, given to a child by a friend or family member</li>
        <li class='styled-list'>Income paid to the child by a private pension fund, annuity, or trust</li>
      </ul>
      <span class='bold'>Adult Income</span><br>
      <p>Adult income is paid directly to an adult, before taxes are taken out, and includes:</p>
      <ul>
        <li class='styled-list'>Salary, wages, strike benefits, cash bonuses, or other money from work</li>
        <li class='styled-list'>Net income from self-employment</li>
        <li class='styled-list'>If you’re in the military: basic pay and cash bonuses, allowances for off-base housing, clothing, and food. <span class='bold'>Do not include</span> combat pay, FSSA, or privatized housing allowances</li>
        <li class='styled-list'>Public assistance, alimony, or child support including:
          <ul>
            <li class='styled-list-inner'>Unemployment benefits</li>
            <li class='styled-list-inner'>Worker’s compensation</li>
            <li class='styled-list-inner'>Supplemental Security Income (SSI)</li>
            <li class='styled-list-inner'>Cash assistance from State or local government</li>
            <li class='styled-list-inner'>Alimony payments (only if court-ordered)</li>
            <li class='styled-list-inner'>Child support payments (only if court-ordered)</li>
            <li class='styled-list-inner'>Veteran’s benefits</li>
          </ul>
          <span class='bold'>Don’t include income from any other cash-value public assistance benefits not listed here.</span>
        </li>
        <li class='styled-list'>Pensions/Retirement/All Other Income
          <ul>
            <li class='styled-list-inner'>Social Security (including railroad retirement and black lung
              benefits)</li>
            <li class='styled-list-inner'>Worker’s compensation</li>
            <li class='styled-list-inner'>Private Pensions or disability</li>
            <li class='styled-list-inner'>Income from trusts or estates</li>
            <li class='styled-list-inner'>Investment income</li>
            <li class='styled-list-inner'>Annuities</li>
            <li class='styled-list-inner'>Earned interest</li>
            <li class='styled-list-inner'>Rental income</li>
            <li class='styled-list-inner'>Regular cash payments from outside household</li>
          </ul>
        </li>
      </ul>
    </dd>
  </dl>
</section>
