<section class="screen" id="get-started">
  <h2>Welcome!</h2>
  <p>Let's apply for free or reduced-price lunch for students in your home.</p>
  <p>We'll help you fill out the application and send it off to your school. If you have questions or need help, look for the <span class='question-mark-small'></span> icon or use the FAQ at the top of the screen.</p>
  <p>Here's what you'll need to know to apply:</p>
  
  <ul>
    <li class='styled-list'>The number of people in your 
      
      <div class='tooltip-item'>household <span class='question-mark-small'></span>
        <div class='tooltip'>A household is anyone who lives with you, and shares income and expenses. They don't have to be related to you or each other, and they also don't have to have an income of their own. Don't include anyone who lives with you if they do <span class='bold'>not</span> contribute money to the household, or if the household's income doesn't support them.</div>
      </div>
      
      
      <div class="modal">
        <label for="modal-1">
          <div class="modal-trigger">household <span class='question-mark-small'></span></div>
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-1"></div>
            <h1>What's a household?</h1>
            <p class="modal-intro">A household is anyone who lives with you, and shares income and expenses. They don't have to be related to you or each other, and they also don't have to have an income of their own. Don't include anyone who lives with you if they do <span class='bold'>not</span> contribute money to the household, or if the household's income doesn't support them.</p>
          </div>
        </div>
      </div>





      
    </li>  
    
    <li class='styled-list'>If anyone receives any benefits, like 
      
      <div class='tooltip-item'>
        SNAP, TANF or FDPIR <span class='question-mark-small'></span>
        <div class='tooltip'>
          <ul>
            <li>SNAP is the Supplemental Nutrition Assistance Program, formerly known as food stamps. If you're enrolled in SNAP, you'll have a plastic EBT card (it looks like a debit card) and a 10- or 13-digit case number.</li>
            <li>TANF is the Temporary Assistance for Needy Families program. If you're enrolled in TANF, you're receiving a cash benefit. You also have a case number that's 10 or 13 digits long.</li>
            <li>FDPIR is the Food Distribution Program on Indian Reservations. If you're enrolled in FDPIR, you have a case number and an EBT card.</li>
          </ul>
        </div>
      </div>
      
    </li>
    
    <li class='styled-list'>How much 
      <div class='tooltip-item'>income <span class='question-mark-small'></span> 
        <div class='tooltip'>
          Income is money paid to a person from a job, Social Security, annuities, child support, and more. Both children and adults can earn income. See <a href=#faq>Help</a> for a list of more types of income.</div>
      </div>
      
      each person in your home earns</li>
  </ul>
  
  <h2>Let's get started.</h2>
  <h3>Are you over the age of 18?</h3>
  <p>This application has to be signed by a member of the household who is an adult.</p>
  <div class="button-group">
    <a class="button warning" href="#need-adult">No</a>
    <a class="button fwd" href="#kids">Yes</a>
  </div>
</section>
