<section class="screen" id="get-started">
  <h2>Apply for free or reduced-price lunch for students in your home.</h2>
  <p>We’ll help you fill out the application and send it off to your school. If you have questions or need help, look for the <span class='question-mark-small'></span> icon or use the FAQ at the top of the screen.</p>

  <div class="panel">
  <p><b>Here’s what you’ll need to know to apply:</b></p>
  <ul>
    <li class='styled-list'>If anyone receives any benefits, like

      <div class="modal">
        <label for="modal-2">
          <div class="modal-trigger">SNAP, TANF or FDPIR <span class='question-mark-small'></span></div>
        </label>
        <input class="modal-state" id="modal-2" type="checkbox" />

        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-2"></div>
            <h1>What are SNAP, TANF, and FDPIR?</h1>
            <p class="modal-intro">
              <ul>		
 -            <li>SNAP is the Supplemental Nutrition Assistance Program, formerly known as food stamps. If you're enrolled in SNAP, you'll have a plastic EBT card (it looks like a debit card) and a 10- or 13-digit case number.</li>		
 -            <li>TANF is the Temporary Assistance for Needy Families program. If you're enrolled in TANF, you're receiving a cash benefit. You also have a case number that's 10 or 13 digits long.</li>		
 -            <li>FDPIR is the Food Distribution Program on Indian Reservations. If you're enrolled in FDPIR, you have a case number and an EBT card.</li>		
 -          </ul>
            </p>
      </div>

    </li>
    <li class='styled-list'>How much

      <div class="modal">
        <label for="modal-3">
          <div class="modal-trigger">income <span class='question-mark-small'></span></div>
        </label>
        <input class="modal-state" id="modal-3" type="checkbox" />

        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-3"></div>
            <h1>What counts as income?</h1>
            <p class="modal-intro">Income is money paid to a person from a job, Social Security, annuities, child support, and more. Both children and adults can earn income. See <a href=#faq>Help</a> for a list of more types of income.</p>
          </div>
        </div>

      </div>

      each person in your home earns </li>

  </ul>

</div>

  <h2>Let’s get started.</h2>
  <h3>Are you over the age of 18?</h3>
  <p>This application has to be signed by a member of the household who is an adult.</p>

  <form action="#kids">
    <div class="radio-group">
      <div class='radio-selection'>
        <label><input type="radio" name="over-18" value="yes" required> Yes</label>
      </div>
      <div class='radio-selection'>
        <label><input type="radio" name="over-18" value="no" data-next-screen="need-adult"> No</label>
      </div>
    </div>

    <div class="button-group">
      <button class="button fwd full-width" disabled>Continue</button>
    </div>

  </form>
</section>
