<section class="screen" id="income">
  <h2>Now let's talk about income.</h2>
  <p>We need to know about your household's earnings.</p>
  <p><div class='tooltip-item'>Income <span class='question-mark-small'></span>
      <div class='tooltip'>
        Income is money paid to a person from a job, Social Security, annuities, child support, and more. Both children and adults can have income. See <a href=#faq>Help</a> for a list of more types of income.</div>
    </div> can come from many different places, including: work, public assistance, alimony, investments, allowances and more. Please also list students' and kids' income.</p>
  <p>You've told us you have <span class="num-people"></span> in your household. Let's list how much everybody earns.</p>

  <ul class="person-list">
  </ul>

  <div class="button-group">
    <a class="button fwd" href="#review">Continue</a>
    <a class="button back" href="#other-help">Back</a>
  </div>
</section>
