<section class="screen" id="kids">
  <h2>Let’s talk about kids &amp; students.</h2>
  <div>This is anyone in your <div class='tooltip-item'>household <span class='question-mark-small'></span>
      <div class='tooltip'>A household is anyone who lives with you, and shares income and expenses. They don't have to be related to you or each other, and they also don't have to have an income of their own. Don't include anyone who lives with you if they do <span class='bold'>not</span> contribute money to the household, or if the household's income doesn't support them.</div>
    </div>

    under the age of 18 (babies, toddlers, and kids), plus anyone over 18 who is a
    <div class='tooltip-item'>student <span class='question-mark-small'></span>
      <div class='tooltip'>A student is anyone who is enrolled in a public or private school at the high school level or below, even if they're over 18.</div>
    </div>
    in public or private school.</div>

  <div class="panel info">

    <h3>Add all the kids in your home</h3>
    <p><b><span class="num-people"></span></b> under 18 in your home</p>
    <ul class="person-list"></ul>

    <div class="add-person">
      <div class="person add">
        <div class="person-name-bar">
          <div class="person-name">Add another student</div>
          <div class="actions"><span aria-hidden="true">+</span> Add</div>
        </div>
      </div>
    </div>
  </div>


  <div class="button-group">
    <a class="button fwd" href="#other-help">Continue</a>
    <a class="button back" href="#get-started">Back</a>    
  </div>
</section>
