<section class="screen" id="other-help">
  <h2>Let's talk about other help.</h2>
  <form class="other-help-form">

    <div>Does anyone in your household (including you!) receive

      <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger">SNAP <span class='question-mark-small'></span></div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1"></div>
          <h1>What is SNAP?</h1>
          <p class="modal-intro">SNAP is the Supplemental Nutrition Assistance Program, formerly known as food stamps. If you're enrolled in SNAP, you'll have a plastic EBT card (it looks like a debit card) and a 10- or 13-digit case number.
</p>
        </div>
      </div>
    </div>

    <div class="modal">
      <label for="modal-2">
        <div class="modal-trigger">TANF <span class='question-mark-small'></span></div>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-2"></div>
          <h1>What is TANF?</h1>
          <p class="modal-intro">TANF is the Temporary Assistance for Needy Families program. If you're enrolled in TANF, you're receiving a cash benefit. You also have a case number that’s 10 or 13 digits long.
</p>
        </div>
      </div>
    </div>

     or

     <div class="modal">
      <label for="modal-3">
        <div class="modal-trigger">FDPIR <span class='question-mark-small'></span></div>
      </label>
      <input class="modal-state" id="modal-3" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-3"></div>
          <h1>What is FDPIR?</h1>
          <p class="modal-intro">FDPIR is the Food Distribution Program on Indian Reservations. If you're enrolled in FDPIR, you have a case number and an EBT card.</p>

        </div>
      </div>
    </div>

      ?
    </div>

    <div class="form-controls-group">

      <div>
        <label><input type="radio" name="has-other-help" value="yes" required>Yes</label>
      </div>
      <div class="case-number-control" style="display: none"> <!-- initially hidden, visibility conditional on has-other-help checked -->
        <label>
          Please enter just one

          <div class="modal">
            <label for="modal-4">
              <div class="modal-trigger">case number: <span class='question-mark-small'></span></div>
            </label>
            <input class="modal-state" id="modal-4" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-4"></div>
                <h1>Where do I find my case number?</h1>
                <p class="modal-intro">This might depend on what state you're in. Your case number is <b>not</b> the number on your EBT card, but it should be listed on other benefits paperwork. If it's not there, you'll need to call your case worker.</p>
              </div>
            </div>
          </div>

          <input type="text" name="case-number" placeholder="case number">
        </label>
      </div>
      <div>
        <label><input type="radio" name="has-other-help" value="no">No</label>

      </div>
      <div class="button-group">
        <button class="button fwd" data-next-screen="adults">Continue</button>
        <a class="button back" href="#adults">Back</a>
      </div>
    </div>
  </form>
</section>
